.image-container {
    margin: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;   
    
    .image-container__img {
        border-radius: 5px;
        transition: 0.3s all;

        &:hover {
            transform: scale(110%);
        }
    }
}

